.login-main {
  color: white;
  background-image: url(/img/Img-Index-Fondos/hero.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-titulo {
  font-size: 2rem;
}

.contenedor-formulario {
  padding: 15px;
  border-top: solid 1px grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contenedor-formulario label {
  width: 50%;
  padding: 10px;
}

.contenedor-formulario input {
  padding: 10px;
}

.contenedor-formulario button {
  height: 30px;
}

.control-formulario {
  padding: 15px;
}
