<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DH Arena - Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-mobile-superior">
          <h1 class="nav-titulo">DHArena</h1>
          <i class="nav-mobile-btn fa-solid fa-bars"></i>
          <i class="nav-mobile-carrito fa-solid fa-cart-shopping"></i>
        </div>
        <ul class="nav-mobile-menu">
          <li><a href="#">Eventos</a></li>
          <li><a href="#">Club DHArena</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="/login">Iniciar sesion</a></li>
          <li><a href="/register">Registrate</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Home</h1>
    </main>
    <footer></footer>
  </body>
</html>
