<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DH Arena - Login</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <main class="main-login">
      <h1>Ingresar a mi cuenta</h1>
      <form class="contenedor-formulario">
        <label for="email"><i class="fas fa-envelope"></i>EMAIL</label>
        <input type="email"name="email"id="email"placeholder="Ingresá tu email" required>

        <label for="contraseña"><i class="fas fa-key"></i>CONTRASEÑA</label>
        <input type="password" name="contraseña" id="contraseña" placeholder="Ingresá tu contraseña" required>

        <button>Ingresar</button>
      </form>
      <div>
        <p class="controles-login">¿Olvidaste tu contraseña?</p>
        <p><a href="/register" class="controles-login">No tengo cuenta</a></p>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
