<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DH Arena - Login</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <header></header>
    <h1>Ingresar a mi cuenta</h1>
    <main>
      <form class="contenedor-formulario">
        <label for="email">EMAIL</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Ingresá tu email"
        />

        <label for="contraseña">CONTRASEÑA</label>
        <input
          type="password"
          name="contraseña"
          id="contraseña"
          placeholder="Ingresá tu contraseña"
        />

        <button>Ingresar</button>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
