<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DH-Arena Eventos</title>
    <link rel="stylesheet" href="css/app.css" />
  </head>

  <header class="header">
     <!----------LOGO------------------>
    <!----------BARRA DE BUSQUEDA------------------>
    <input type="text" class="" name="" id="" placeholder=" BUSCAR">
    <!----------ICONOS: YOUTUB E, SPOTIFY, HOME, CARRITO------------------>

    <!----------BOTON INGRESO------------------>
    <div class="boton">
    <button type="" class="botones">INGRESO</button>
  </div>
  <!----------BOTON REGISTRO------------------>
  <div class="boton">
  <button type="" class="botones">REGISTRO</button>
  </div>
  </header>



  <body>
    <main class="main">
      <section class="columnas">
 <!----------IMAGEN ARTISTA CON TEXTO: FECHAS DE ESPECTACTULO, NOMBRE DEL SHOW, ETC----------------->
 <section class="columna-izq">
 <article class="banner">
   <div class="descripcion">
    <img class="img-artista" src="/img/Img-Index-Artistas/David-guetta385x250-1.jpg" alt="Foto-Artista"/>
  </section>
  <section class="columna-der">
    <p class="texto-banner">DAVID GUETTA LLEGA A BUENOS AIRES!!! </p>
    <p class="texto-banner"> 5 DE ENERO</p>
    <p class="texto-banner"> MOVISTAR ARENA</p>
    <p class="texto-banner"> Tour Sudamerica 2023!!</p>
    <p class="texto-banner"> Let's celebrate Argentina!!</p>
  </section>
  </section>
  </div>

  <article class="venta-entradas">
    <article>
    <h4 class="titulo-artista">DAVID GUETTA</h4>
    <p class="titulo-texto">
      Uno de los artistas más importantes del panorama musical mundial, llegará a Buenos Aires, Argentina, el próximo 6 de enero con un concierto inolvidable. Movistar Arena será testigo de una experiencia única, donde sonarán los grandes éxitos que lo han convertido en un ícono internacional.
    </p>
          
    </article>
  <!---------Video Youtube--------------------------------------------------------------------------------->
  <div class="Youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/90RLzVUuXe4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  </article>

  <!----------ICONOS: CALENDARIO, FECHA, RELOJ (DURACION DE SHOW), EDAD PUBLICO (+18AÑOS)------------------->
      
      <!----------DESCRIPCION DEL ARTISTA------------------>
      
      <!----------ICONO DE ESTADIO------------------>
      
      <!----------BOTON DESPLEGABLE: SELECCIONE UBICACION------------------>
     <!----------BOTON COMPRAR------------------>
     <!----------MAPA DE GOOGLE MAPS------------------>
<!----------BOTON: POLITCAS DE VENTA------------------>



    </main>
    <!----------COMPRA DE TICKETS------------------>
    <article class="compra">
      <div>
      <label for="" class="seleccion-ubi">Seleccione ubicacion</label>
      </div>
      <select name="" id="">
        <option value=""> Sector 1 $10000</option>
        <option value=""> Sector 2 $15000</option>
        <option value=""> Sector 3 $18000</option>
        <option value=""> Sector 4 $20000</option>
      </select>
      <div>
      <label for="">Cantidad de tickets</label>
      </div>
      <div>
      <select name="" id="">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="">4</option>
      </select>
    </div>
    <div>
      <label for="">Total</label>
    </div>
    <div>
      <input type="number" id="" name="" placeholder="ARS $XXXXXX" >
    </div>
    <div>
      <button type="" class="boton-comprarls"> COMPRAR</button>
    </div>
    </article>
    <footer> 
      <div>
        <button type="text" class="botones">Politicas de venta </button>
      </div>
        <!----------TERMINOS Y CONDICIONES----------------->
        <div>
          <button type="" class="botones"> Terminos y condiciones</button>
        </div>
        <!----------METODOS DE PAGO----------------->
        <div>
          <button type="" class="botones"> Metodos de pago</button>
        </div>
    </footer>
  </body>
</html>
