<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DH Arena - Carrito de compras</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <header></header>
    <main>
        <h2>Carrito de compras</h2>
        <article class="carrito-de-compras">
          <img
            class="Img-Artista"
            src="/img/Img-Index-Artistas/Camilo_385x250.jpg"
            alt="Foto-Artista"
          />         
        <section>
          <h3>Camilo</h3>
          <p><i class="fas fa-calendar-alt"></i> 8 Agosto 2023</p>
          <p><i class="far fa-clock"></i> 22:00 hs</p>
        </section>       
        </article>
        <span class="cantidad-entradas">Cantidad de entradas: 2</span>
        <button class="boton-borrar"><i class="fas fa-times"></i> Borrar</button>
        <div class="total">Total: $8000 </div>
        <section class="compras">
          <div class="continua-comprando"><a><i class="fas fa-reply-all"></i> Continua comprando</a></div>
          <div class="continua-comprando"><a>Comprar ahora</a></div>
        </section>

        <section class="modos-de-pago">
          <h3>Modos de pago</h3>
        </section>
        
        
    </main>
    <footer></footer>
  </body>
</html>
