<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DH Arena - Evento</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/app.css" />
  </head>
  <body>
    <header class="site-header">
      <nav>
        <div class="nav-mobile-superior">
          <div class="nav-izquierda-container">
            <h1 class="nav-titulo">
              <a href="/">DHArena<span class="registrado">®</span></a>
            </h1>
            <ul class="nav-desktop menu-izquierda">
              <li><a href="#">Eventos</a></li>
              <li><a href="#">Club DHArena</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div>
          <div class="nav-derecha-container">
            <div class="nav-mobile-iconos">
              <div class="nav-mobile-icon temaColor-1">
                <i class="fa-solid fa-bars"></i>
              </div>
              <div class="nav-mobile-carrito">
                <a href="/productCart"
                  ><i class="fa-solid fa-cart-shopping"></i
                ></a>
              </div>
            </div>
            <ul class="nav-desktop menu-derecha">
              <li>
                <i class="fa-solid fa-circle-user"></i>
                <a href="/login">Iniciar sesion</a>
              </li>
              <li>
                <a class="desktop-register-button" href="/register"
                  >Registrate</a
                >
              </li>
            </ul>
          </div>
        </div>
        <ul class="nav-mobile-menu">
          <li><a href="#">Eventos</a></li>
          <li><a href="#">Club DHArena</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="/login">Iniciar sesion</a></li>
          <li><a href="/register">Registrate</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-carritoDetalle">
      <section class="evento">
        <div class="evento-portada-container">
          <div class="evento-portada">
            <img
              src="/img/Img-Index-Artistas/Camilo_780x400.jpg"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <article class="evento-info">
          <div class="evento-info-nombre">
            <h2>De adentro pa fuera Tour</h2>
            <h1>Camilo</h1>
          </div>
          <div class="evento-info-detalle">
            <div class="evento-fecha-contenedor">
              <div class="evento-fecha-detalle">
                <i class="fa-regular fa-calendar"></i>
                <span class="evento-fecha-mes">DIC</span>
                <span class="evento-fecha-dia">5</span>
              </div>
            </div>
            <div class="evento-descripcion">
              <p class="evento-descripcion-detalle">
                El máximo exponente del pop actual a nivel global, anunció su
                nueva gira por Latinoamérica con la que batió récords de público
                en Europa y Estados Unidos. Entradas a la venta a partir del
                lunes 5 de diciembre a las 20hs.
              </p>
              <div class="evento-descripcion-horario-contendedor">
                <i class="fa-regular fa-clock"></i>
                <span class="evento-hora">20:00 hrs</span>
              </div>
              <div class="evento-descripcion-tipoPublico-container">
                <i class="fa-solid fa-people-group"></i>
                <span class="evento-tipoPublico">+18 años</span>
              </div>
            </div>
          </div>
          <div class="evento-lista-protocolos">
            <div class="protocolo-contenedor">
              <span class="protocolo-nombre">POLITICAS DE VENTA</span>
            </div>
            <div class="protocolo-contenedor">
              <span class="protocolo-nombre">TERMINOS Y CONDICIONES</span>
            </div>
            <div class="protocolo-contenedor">
              <span class="protocolo-nombre">METODOS DE PAGO</span>
            </div>
          </div>
        </article>
        <article class="evento-artista">
          <h2>Acerca del artista</h2>
          <p class="evento-artista-descripcion">
            Blindado con una impecable habilidad de composición y una
            sensibilidad intuitiva, Camilo, ganador de cinco Latin GRAMMY® 2020
            y dos veces nominado al GRAMMY® americano, es considerado uno de los
            mayores exponentes del nuevo Pop de su generación, con más de cinco
            billones de reproducciones en todas las plataformas digitales
            alrededor del mundo.
          </p>
          <div class="evento-artista-video">
            <iframe
              width="100%"
              height="415"
              src="https://www.youtube.com/embed/ZbxUiwi5Rx8"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </article>
        <article class="evento-compra-contenedor">
          <i class="fa-solid fa-location-arrow"></i>
          <div class="evento-compra-detalle">
            <form action="">
              <div class="form-item">
                <label for="evento-ubicacion">Ubicacion</label>
                <select name="evento-ubicacion" id="evento-ubicacion">
                  <option value="">Seleccione ubicacion</option>
                  <option value="dharena">DHArena</option>
                </select>
              </div>
              <div class="form-item">
                <label for="evento-precio">Precio</label>
                <span id="evento-precio">$7500</span>
              </div>
              <button class="evento-compra-submit" type="submit">
                Comprá tu entrada
              </button>
            </form>
          </div>
        </article>
      </section>
    </main>
    <footer class="site-footer">
      <div class="footer-izquierda">
        <h3 class="footer-title">DHArena<span class="registrado">®</span></h3>
        <ul class="footer-mobile-nav">
          <li><a href="#">Eventos</a></li>
          <li><a href="#">Club DHArena</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="/login">Iniciar sesion</a></li>
          <li><a href="/register">Registrate</a></li>
        </ul>
      </div>
      <div class="footer-derecha">
        <div class="footer-social-icons">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
      <p class="copyright">© 2022 DHArena. Todos los derechos reservados.</p>
    </footer>
    <!-- Agregando archivo nav.js para el menu -->
    <script src="../js/nav/nav.js"></script>
  </body>
</html>
