<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DH Arena - Registrarse</title>
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <header></header>
    <main>
      <form action="/register" method="POST">
      <section class="formulario-reg">
      <h3> AUN NO ESTAS REGISTRADO? </h3>
      <h5>Completa el formulario con tus datos y hacete usuario para obtener grandes beneficios</h5>

      <h6>Campos obligatorios (*) </h6>
        <section class="datos-pers">
        <h4> DATOS PERSONALES </h4>
        <label > Nombre*</label>
        
        <input type="text" class="" name="" placeholder="Nombre completo" required minlength="6">
      

      </section>



    </section>



  </form>
    </main>
    <footer></footer>
  </body>
</html>
