<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DH Arena - Registrarse</title>
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <header></header>
    <main>
      <form action="/register" method="POST">
      <section class="formulario-reg">
<!----------TITULO DE LA PAGINA------------------>
      <h3> AUN NO ESTAS REGISTRADO? </h3>
      <h5>Completa el formulario con tus datos y hacete usuario para obtener grandes beneficios!</h5>

      <h6>Campos obligatorios (*) </h6>
        <section class="datos-pers">

<!----------FORMULARIO DE REGISTRO------------------>
        <h4> DATOS PERSONALES </h4>
        <section  class="campo-reg">
<!----------NOMBRE------------------>
        <label> Nombre</label>
        <input type="text" class="" name="" placeholder="Nombre completo" required minlength="6">
      </section>
<!----------APELLIDO------------------>
          <section class="campo-reg">
        <label> Apellido</label>
        <input type="text" class="" name="" placeholder="Apellido" required minlength="6">
      </section>
<!----------DOCUMENTO------------------>
      <section class="campo-reg">
        <label> Documento</label>
        <input type="number" class="" name="" placeholder="Numero de DNI o Pasaporte" required minlength="8">
      </section>
<!----------TIPO DE ID------------------>
      <section>
      <label> Tipo de ID </label>
      <select name="" id="">
        <option value="">DNI</option>
        <option value=""> Pasaporte</option>
      </select>
    </section>
<!----------FECHA DE NACIMIENTO ------------------>
      <label class="campo-reg"> FECHA DE NACIMIENTO</label>
      <section class="fecha-nac">
      <input type="date" class="" id="" placeholder="Fecha de nacimiento">
      </section>

<!----------NUMERO DE TELEFONO ------------------>
<section class="num-telefono">
      <H4> TELEFONO</H4>
      <label for="" > Tipo </label>

      <select name="" id="">
        <option value=""> Celular</option>
        <option value=""> Fijo </option>

     </select>
      <label class="campo-reg">Numero*</label>
      <input type="number" class="" id="" placeholder="+54 XXXXXXXXXX">
    </section>
    
<!----------CORREO ELECTRONICO ------------------>
    
    <section class="campo-reg">
      <label>CORREO ELECTRONICO</label>
      <div>
<input type="email" class="" id="" placeholder="Email">
</div>
<div>
<input type="email" class="" id="" placeholder="Confirmar email">
</div>
    </section>

<!----------CONTRASENA------------------>
  <section class="campo-reg">
    <label>CONTRASEÑA</label>
      <div>
        <input type="password" class="" id="" placeholder="Contraseña" required minlength="8">
      </div>
      
        <input type="password" class="" id="" placeholder="Confirmar contraseña">
      </section>
  <h6> La contraseña debe tener al menos 8 caracteres y una letra*.</h6>

  <!------------Boton deslizante------------------------------------------>
  <label for=""> Acepto terminos y condiciones.</label>
  <label class="botoncito"> 
    <input type="checkbox">
     <span class="deslizadora"></span>
 </label>
 <br>
 <!---------------BOTON REGISTRARME---------------------->
<section>
 <button type="submit"> REGISTRARME </button>
</section>
  </form>

    </main>
    <footer></footer>
  </body>
</html>
