<!DOCTYPE html>
<html lang="es">
  <%-include ("../partials/head", {cssSheets: "allsTheShow", title: "Todos los Shows"}) %>
  <body>
    <%- include('../partials/header') %>
    <section class="Shows">
    <article class="eventos-home">
        <img
          class="Img-Artista"
          src="/img/Img-Index-Artistas/Servando-385x250-1.png"
          alt="Foto-Artista"
        />
        <div class="descripcion">
          <p class="nombre">Servando y Florentino</p>
          <p class="fecha">15 enero 2023</p>
          <p class="Info">más info</p>
          <a href="/shows/detalle/:id" class="boton-entrada">Compra tu entrada</a>
        </div>
      </article></section>
    
    <%- include('../partials/footer') %>
    <!-- Agregando archivo nav.js para el menu -->
    <script src="js/nav/nav.js"></script>