<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head' , {cssSheets: "productCart", title: "Shows"}) %>
  <body>
    <%-include ("../partials/header") %>
    <main class="carrito-main">
      <h2>Carrito de compras</h2>
      <article class="carrito-de-compras">
        <img
          class="Img-Artista"
          src="/img/Img-Index-Artistas/Camilo_385x250.jpg"
          alt="Foto-Artista"/>         
      <section class="datos-show">
        <h3>Camilo</h3>
        <p><i class="fas fa-calendar-alt"></i> 8 Agosto 2023</p>
        <p><i class="far fa-clock"></i> 22:00 hs</p>
      </section>       
      </article>
      <section class="left-productcart">
        <div class="cant-borrar">
          <div class="cantidad-entradas">Cantidad de entradas: 2</div>
          <button class="boton-borrar"><i class="fas fa-times"></i> Borrar</button>

        </div>
        <div class="total">Total: $8000 </div>
        <hr>
        <section class="compras">
          <div class="continua-comprando"><a><i class="fas fa-reply-all"></i> Continua comprando</a></div>
          <div class="continua-comprando"><a>Comprar ahora</a></div>
        </section>
      </section><br>
      <section class="modos-de-pago">
        <h3>Modos de pago</h3>
      </section>
            
    </main><%- include('../partials/footer') %>
    <!-- Agregando archivo nav.js para el menu -->
    <script src="js/nav/nav.js"></script>
>>>>>>> d0fe43f241dd30cdc98998ac4a73bcb134e82479
  </body>
</html>
