<!--************************* AFooter ***********************-->

<footer class="site-footer">
    <div class="footer-izquierda">
      <h3 class="footer-title">DHArena<span class="registrado">®</span></h3>
      <ul class="footer-mobile-nav">
        <li><a href="#">Eventos</a></li>
        <li><a href="#">Club DHArena</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="/login">Iniciar sesion</a></li>
        <li><a href="/register">Registrate</a></li>
      </ul>
    </div>
    <div class="footer-derecha">
      <div class="footer-social-icons">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
    <p class="copyright">© 2022 DHArena. Todos los derechos reservados.</p>
  </footer>