<!--************************* Aca la parte de los shows de Rock***********************-->

<header class="site-header">
    <nav>
      <div class="nav-mobile-superior">
        <div class="nav-izquierda-container">
          <h1 class="nav-titulo">
            <a href="/">DHArena<span class="registrado">®</span></a>
          </h1>
          <ul class="nav-desktop menu-izquierda">
            <li>
              <a class="cart_link" href="/carrito">
              <% if (userLogged != undefined) { %>
                <div class="cart_items__container">
                  <span class="cart_items__value"><%= (locals.orders ? locals.orders : '') %></span>
                </div>
              <% } %>
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
            </li>
            <li><a href="/shows">Eventos</a></li>
            <li><a href="#">Club DH</a></li>
            <li><a href="#contacto">Contacto</a></li>
            <% if (userLogged != undefined && userLogged.userType == 2) { %>  
              <li><a class="new_show_link" href="/shows/create"><i class="fa-solid fa-circle-plus"></i> Show</a></li>
            <% } %>
          </ul>
        </div>
        <div class="nav-derecha-container">
          <div class="nav-mobile-iconos">
            <div class="nav-mobile-icon temaColor-1">
              <i class="fa-solid fa-bars"></i>
            </div>
            <div class="nav-mobile-carrito">
              <a class="cart_link" href="/carrito">
                <% if (userLogged != undefined) { %>
                  <div class="cart_items__container">
                    <span class="cart_items__value"><%= (locals.orders ? locals.orders : '') %></span>
                  </div>
                <% } %>
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </div>
          </div>
            <ul class="nav-desktop menu-derecha">
              <% if (userLogged == undefined) { %>
              <li class="search-container">
              
              <form method="get" action="/search" class="search-bar">
                  <div class="bottom-search">
                    <input type="text" placeholder="Search show" name="search">
                  </div> 
                  <div class="bottom-search">
                    <input class="search-button" type="button"><i id="search-icon" class="fas fa-search"></i> </input>
                  </div>                         
              </form>
                                       
              </li>
              <li>
                <a class="login-btn" href="/usuarios/login"><i class="fa-solid fa-circle-user"></i> Login</a>
              </li>
              <li>
                <a class="desktop-register-button" href="/usuarios/register"
                  >Registrate</a
                >
              </li>
              <% } else { %>
                <li class="user_img">
                  <figure class="img-profile-container">
                    <img src="/img/img-users/<%= userLogged.image %> " alt="">
                  </figure>
                  <div class="name-profile-container">
                    <%= userLogged.name %>
                  </div>
                </li>
                <li>
                  <form class="logout-form" action="/usuarios/logout" method="POST" style="display: flex;">
                    <button class="logout-button" type="submit" href="#"><i class="fa-solid fa-right-from-bracket"></i> Log Out</a>
                  </form>
                </li>
              <% } %>
            </ul>
        </div>
      </div>
      <ul class="nav-mobile-menu">
        <li><a href="/shows/">Eventos</a></li>
        <li><a href="#">Club DHArena</a></li>
        <li><a href="#contacto">Contacto</a></li>
        <% if (userLogged != undefined && userLogged.userType == 2) { %>  
          <li><a href="/shows/create">Crear Show</a></li>
        <% } %>
        <% if (userLogged == undefined) { %>
        <li><a href="/usuarios/login">Iniciar sesion</a></li>
        <li><a href="/usuarios/register">Registrate</a></li>
        <% } else { %>
          <li>
            <form class="logout-form-mobile" action="/usuarios/logout" method="POST">
              <i class="fa-solid fa-right-from-bracket"></i>
              <button class="logout-button-mobile" type="submit" href="#">Cerrar sesion</a>
            </form>
          </li>
        <% } %>
      </ul>
    </nav>
  </header>