<!DOCTYPE html>
<html lang="es">
  <%-include ("../partials/head", {cssSheets: "home", title: "Home"}) %>
  <body>
    <%- include('../partials/header') %>
    <main>
      <!-- Aca es la imagen grande del principio -->
      <section class="hero">
        <div class="parrafo-img">
          <p class="Titulo-1">Experiencias Premium</p>
          <p class="SubTitulo-2">
            Vive momentos únicos con tus artistar favoritos
          </p>
          <a href="#">Registrate gratis</a>
        </div>
      </section>
      <!-- Aca la parte de los shows -->

      <section class="Shows">
        <h2 class="titulo-shows">Próximos Shows</h2>
        <article class="eventos-home">
          <img
            class="Img-Artista"
            src="/img/Img-Index-Artistas/Camilo_385x250.jpg"
            alt="Foto-Artista"
          />
          <div class="descripcion">
            <p class="nombre">Camilo</p>
            <p class="fecha">23 Marzo 2023</p>
            <p class="Info">más info</p>
          </div>
        </article>
        <article class="eventos-home">
          <img
            class="Img-Artista"
            src="/img/Img-Index-Artistas/David-guetta385x250-1.jpg"
            alt="Foto-Artista"
          />
          <div class="descripcion">
            <p class="nombre">David Guetta</p>
            <p class="fecha">1 Noviembre 2023</p>
            <p class="Info">más info</p>
          </div>
        </article>
        <article class="eventos-home">
          <img
            class="Img-Artista"
            src="/img/Img-Index-Artistas/Servando-385x250-1.png"
            alt="Foto-Artista"
          />
          <div class="descripcion">
            <p class="nombre">Servando y Florentino</p>
            <p class="fecha">15 enero 2023</p>
            <p class="Info">más info</p>
            <a href="/shows/detalle/:id" class="boton-entrada">Compra tu entrada</a>
          </div>
        </article>
        <article class="eventos-home">
          <img
            class="Img-Artista"
            src="/img/Img-Index-Artistas/Skay-385x250.jpg"
            alt="Foto-Artista"
          />
          <div class="descripcion">
            <p class="nombre">Skay</p>
            <p class="fecha">8 Agosto 2023</p>
            <p class="Info">más info</p>
          </div>
        </article>
        <article class="eventos-home">
          <img
            class="Img-Artista"
            src="/img/Img-Index-Artistas/Reik-385x250-1.jpg"
            alt="Foto-Artista"
          />
          <div class="descripcion">
            <p class="nombre">Reik</p>
            <p class="fecha">30 Septiembre</p>
            <p class="Info">más info</p>
          </div>
        </article>
        <article class="eventos-home">
          <img
            class="Img-Artista"
            src="/img/Img-Index-Artistas/Sabina-385x250.jpg"
            alt="Foto-Artista"
          />
          <div class="descripcion">
            <p class="nombre">Sabina</p>
            <p class="fecha">5 Julio 2023</p>
            <p class="Info">más info</p>
          </div>
        </article>
        <article class="eventos-home">
          <img
            class="Img-Artista"
            src="/img/Img-Index-Artistas/Catupecu-Machu385x250.jpg"
            alt="Foto-Artista"
          />
          <div class="descripcion">
            <p class="nombre">Catupecu Machu</p>
            <p class="fecha">20 Junio 2023</p>
            <p class="Info">más info</p>
          </div>
        </article>
      </section>
      <!-- Aca la parte de Club-Arena -->
      <section class="club-arena">
        <div class="control-clubarena">
          <div><i class="fa-solid fa-star"></i></div>
          <p Titulo>
            Únete al Club DHArena para obtener descuentos y regalos especiales
          </p>
          <a class="boton-clubarena" href="#">Unirme</a>
        </div>
      </section>
      <!-- Aca la parte de los Sponsors -->
      <section class="Sponsors">
        <h2>Sponsors</h2>
        <!-- Aca van los iconos -->
      <div class="main-iconos">
        <div class="iconos"><i class="fa-brands fa-facebook"></i></div>
        <div class="iconos"><i class="fa-brands fa-spotify"></i></div>
        <div class="iconos"><i class="fa-brands fa-youtube"></i></div>
        <div class="iconos"><i class="fa-brands fa-tiktok"></i></div>
        <div class="iconos"><i class="fa-brands fa-google"></i></div>
        <div class="iconos"><i class="fa-brands fa-angellist"></i></div>
      </div>
      </section>
    </main>
    <%- include('../partials/footer') %>
    <!-- Agregando archivo nav.js para el menu -->
    <script src="js/nav/nav.js"></script>
  </body>
</html>
