/* ----------------Main  */
.hero {
    background-image: url('/img/Img-Index-Fondos/hero.jpg');
    background-size: cover;
    padding: 30%;
    display: flex;
    justify-content: center;
  }
  
  .Titulo-1 {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 3rem;
  }
  .SubTitulo-2 {
    color: white;
    font-family: sans-serif;
    font-weight: 500;
  }
  /* --------------------Aca la parte de los Shows ---------------------------*/
  main a {
    
    
  }
  .Img-Artista {
    margin: 0;
    margin-bottom: 1rem;
  }

  .botones-info {
    margin-top: 1rem;
  }

.boton-entrada, .boton-clubarena, .hero a {
  text-decoration: none;
  background-color: #2cf2c7;
  border-radius: 12px;
  padding: 0.6rem;
  font-weight: bold;
}
  
  .Shows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #16324f;
    text-align: center
  }
  
  .titulo-shows {
    width: 100%;
    margin: 1rem 0;
    font-size: 2rem;
  }
  
  .eventos-home {
    width: 70%;
    border: solid 2px white;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }

  .eventos-home:hover {
    transform: scale(1.01);
  }
  
  .titulo-shows {
    color: #ff008a;
  }
  
  .descripcion {
    color: white;
    font-family: sans-serif;
    text-align: left;
    padding: 0 1rem;
  }

  .descripcion .nombre {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .descripcion .fecha {
    margin: 0;
    font-size: 0.8rem;
  }

  .Info {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid var(--magenta);
    cursor: pointer;
    width: 70px;
    font-weight: bold;
  }
  

   /* --------------------- Aca la parte de club Arena ------------------ */
  .club-arena {
    background-image: url('/img/Img-Index-Fondos/clubbg.jpg');
  
    background-size: cover;
    padding: 30%;
    color: white;
    font-family: sans-serif;
  }

  .control-clubarena {
    text-align: center;
  }


  .fa-star {
    color: goldenrod;
    font-size: 3rem;
}




  /* --------------- Aca los iconos ----------------------- */
.Sponsors h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--magenta);
}

.Sponsors {
   background-color: #16324f;
}


.main-iconos{
    display: flex;
    flex-wrap: wrap;
    font-size: 7rem;
    gap: 4rem;
    justify-content: center;
    padding: 1rem;

}

  /* ----------------- Media queries para table ---------------*/
  @media (min-width: 460px) {
    .eventos-home {
      width: 45%;
      margin-left: 1rem;
    }
  }
  /* ---------------Media queries para Escritorio ----------------*/
  @media (min-width: 760px) {
    .eventos-home {
      width: 30%;
    }
  }

  @media (min-width: 1023px) {
    .botones-info {
      display: flex;
      justify-content: space-between;
    }
  }