/* ----------------Main  */
.hero {
    background-image: url('/img/Img-Index-Fondos/hero.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }
  
  .Titulo-1 {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .SubTitulo-2 {
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  /* --------------------Aca la parte de los Shows ---------------------------*/
  main a {
    
    
  }
  .Img-Artista {
    margin: 0;
    margin-bottom: 1rem;
  }

  .botones-info {
    margin-top: 1rem;
  }

.boton-entrada, .boton-clubarena, .hero a {
  text-decoration: none;
  background-color: #2cf2c7;
  border-radius: 12px;
  padding: 0.6rem;
  font-weight: bold;
}
  
  .Shows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #16324f;
    text-align: center;
    padding: 2rem 0;
  }
  
  .titulo-shows {
    width: 100%;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .eventos-home {
    width: 70%;
    border: solid 2px white;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }

  .eventos-home:hover {
    transform: scale(1.01);
  }
  
  .titulo-shows {
    color: #ff008a;
  }
  
  .descripcion {
    color: white;
    font-family: sans-serif;
    text-align: left;
    padding: 0 1rem;
  }

  .descripcion .nombre {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .descripcion .fecha {
    margin: 0;
    font-size: 0.8rem;
  }

  .Info {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid var(--magenta);
    cursor: pointer;
    width: 70px;
    font-weight: bold;
  }
  

   /* --------------------- Aca la parte de club Arena ------------------ */
  .club-arena {
    background-image: url('/img/Img-Index-Fondos/clubbg.jpg');
    background-size: cover;
    color: white;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .control-clubarena {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }

  .control-clubarena p {
    font-size: 1.4rem;
  }

  .control-clubarena a {
    padding: 1rem;
    width: 150px;
    display: block;
  }


  .fa-star {
    color: goldenrod;
    font-size: 3rem;
    margin-bottom: 1rem;
}




  /* --------------- Aca los iconos ----------------------- */
.Sponsors h2 {
    margin-top: 3rem;
    text-align: center;
    color: var(--magenta);
    font-size: 2rem;
    font-weight: bold;
}

.Sponsors {
   background-color: #16324f;
   padding-top: 25px;
}


.main-iconos{
    display: flex;
    flex-wrap: wrap;
    font-size: 5rem;
    gap: 4rem;
    justify-content: center;
    padding: 1rem;
    height: 500px;
    align-items: center;
    color: white;
}

  /* ----------------- Media queries para table ---------------*/
  @media (min-width: 460px) {
    .eventos-home {
      width: 45%;
      margin-left: 1rem;
    }
  }
  /* ---------------Media queries para Escritorio ----------------*/
  @media (min-width: 760px) {
    .eventos-home {
      width: 30%;
    }
  }

  @media (max-width: 768px) {
    .Titulo-1 {
      font-size: 3rem;
    }

    .SubTitulo-2 {
      font-size: 1rem;
    }

    .main-iconos {
      font-size: 4rem;
      height: fit-content;
    }
  }

  @media (max-width: 700px) {
    .parrafo-img {
      padding: 0 2rem;
    }
  }

  @media (min-width: 1023px) {
    .botones-info {
      display: flex;
      justify-content: space-between;
    }
    .control-clubarena p {
      font-size: 2rem;
  } 
}

@media (max-width: 374px) {
  .parrafo-img {
    padding: 1.5rem;
  }
  .Titulo-1 {
    font-size: 2rem;
  }
}