main{
  background-color: var(--verde-principal);
  padding-top: 3rem;
}

h1{
  text-align: center;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}

.form-input {
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.form-input input {
  height: 45px;
  padding: 1rem;
  border-radius: 16px;
  border: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;
}

.login-form label{
  font-weight: bold;
  padding: 5px;
  color: #ffffff;
  text-align: center;
}

.login-form button{
    background-color: #00ffc2;
    color: black;
    border: solid black 1px;
    height: 3rem;
    width: 11rem;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
  }

.login-titulo{
  margin-top:15px;
  color: white;
  font-size: 2.5rem;
}

.login-info {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-info p {
  margin: 0;
  padding-bottom: 1rem;
}

.control-formulario{
  padding: 15px;
}

.error-message {
  color: white;
}

.error-input {
  border-color: red;
}

.remember-me {
  height: 1rem !important;
}

.controles-login{
  color:deeppink;
  margin-bottom:15pxx
}

.is-valid {
  background-color: #198754;
  border: 2px #198754;
}

.is-invalid {
  background-color: #F8D7DA;
  border: 2px solid #842029;
}

.alert-warning{
  color:#842029;
  background-color: #F8D7DA;
  text-align: center;
  border-radius: 10px;
}

.error-container {
  margin-top: 1rem;
}