<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head', {cssSheets: "login", title: "Login"}) %>
  <body>

    <%- include('../partials/header') %>
    <main class="login-main">
      <form class="contenedor-formulario">
        <h2 class="login-titulo">Ingresar a mi cuenta</h2>
        <label for="email"><i class="fas fa-envelope"></i> EMAIL</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Ingresá tu email"
        />
        <label for="contraseña"><i class="fas fa-key"></i> CONTRASEÑA</label>
        <input type="password" name="contraseña" id="contraseña" placeholder="Ingresá tu contraseña" required>

        <button>Ingresar</button>
      </form>
      <div>
        <p class="controles-login">¿Olvidaste tu contraseña?</p>
        <p><a href="/usuarios/register" class="controles-login">No tengo cuenta</a></p>
      </div>
    </main>
      
    
    
    <%- include('../partials/footer') %>
    <!-- Agregando archivo nav.js para el menu -->
    <script src="js/nav/nav.js"></script>
  </body>
</html>
